<div class="row">
  <div class="push_one ten columns">

  <h2>Roasters</h2>

    <table>
    	<thead>
        <tr>
          <th colspan="1"></th>
        </tr>
      </thead>

     <tbody>
     		<% @roasters.each do |roaster| %>
          <tr>
            <td><%= link_to roaster.roaster_name, roaster %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
