<div class="row">
	<div class="push_one ten columns">

		<h2>Edit <%= link_to @user.first_name, @user %> Profile</h2>

	</div>

		<%= render 'form' %>

	<div class="push_one ten columns">
		<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
		<%= link_to 'Back', root_path %>
	</div>

	
</div>