<div class="row">
	<div class="push_one ten columns">
		<h2>Welcome to Coffee Counselor</h2>

		<%= image_tag("pictures/coffee_counselor_tasting_bar.jpeg") %>

		<p>At Coffee Counselor, we strive to bring a greater appreciation to the depths of flavor available in coffee.  We offer the largest variety of cold-brew iced coffee in the world, and offer tastings like you see in the image above.</p>

		<p>In order to help keep track of the coffees you have enjoyed with us, please <a href="/users/new">create an account</a> or <a href="/login">sign in</a>.</p>


  </div>

</div>


