<div class="row">
  <div class="push_one ten columns">

  <h2>Countries</h2>

    <table>
    	<thead>
        <tr>
          <th>Country</th>
          <th>Continent</th>
        </tr>
      </thead>

     <tbody>
     		<% @countries.each do |country| %>
          <tr>
            <td><%= link_to country.country_name, country -%></td>
            <td><%= country.continent %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>


