<div class="row">
	<div class="push_one ten columns">

	<h2>About</h2>

	<p>After several years of brewing, tasting, and contemplating, we are over-the-moon excited to announce the ground opening of the Coffee Counselor</p>

	<p>This isn’t your average coffee shop. We have made it a point in our travels to taste every cup of cold java we can get our hands on, and could never find what we were looking for: a variety of the highest quality iced coffees (everyone has different tastes!) We want to bring that to you – and to do so, we are doing things differently. For now, this means no espresso based drinks (e.g., lattes) or hot drinks, ONLY iced coffee. While we think this is both delicious and intriguing, we also recognize that we are going to catch some folks off guard.  There will be jitters, so let us explain our approach:</p>

	<ol>

		<li><b>Iced Coffee is King</b>: We will ONLY be serving iced coffee. We find that the flavors in a cup of coffee present differently, and are easier to distinguish and experience in an iced brew. It is also HOT here in D.C. these days, and iced coffee is a fantastic way to caffeinate and cool off. We are preparing your iced coffees using a cold brew technique, suspending perfectly ground coffee beans in water for 16-20 hours</li>
	

		<li><b>The Broadest Selection Around</b>: We are aiming to have 15-30 brews available at any given time. We can’t get enough, and have fallen in love with exploring the variations in flavors for different beans. We want you to have the same opportunity. When looking around there are very few shops in our incredible D.C. coffee scene that offer a single-origin iced coffee, let alone a variety of options. What is Single Origin? Each brew we serve is from beans in a specific geographic region, and in the best cases, a specific farm. This is different from big-label brands that blend beans together from different places obscuring the nuanced tastes in each bean. Each bean, region, process, and roast are unique – and we want to treat them as such to bring out their truest and most unique flavors. Our selection will include iced coffees that taste chocolatey, nutty, sweet, lemony, floral, etc… We like to think we can make the perfect cup of iced coffee, but can we make it your perfect cup? Let us know what flavors you like and we’ll be happy to help you explore some brews that match up with your preferences. You can also join us for an iced coffee flight (a tasting) to sample several different brews and see what we mean.</li>

		<li><b>Muffins</b>: just like our approach to coffee we have tasted the best ingredients and distinguished flavors to compliment our coffee offerings. In our baking adventures, we have found that muffins are best two ways: mini and giant. Come munch on a giant muffin or taste a few of our mini muffins like our double-chocolate butterscotch or our banana peanut butter with cinnamon streusel – you won’t be disappointed.</li>
	</ol>

	</div>
</div>

<br /><br />

